PORT=3000
TARGET_URL=https://httpbin.org/ip
PROXY_SOURCE_URL=https://freeproxydb.com/api/proxy/search?country=&protocol=http&anonymity=elite,anonymous&speed=0,60&page_index=1&page_size=100
PROXY_SOURCE_PAGES=20
PROXY_SOURCE_PAGE_SIZE=100
PROXY_REQUIRE_HTTPS=false
PROXY_REFRESH_SECONDS=300
PROXY_TIMEOUT_MS=5000
PROXY_ATTEMPT_TIMEOUT_MS=5000
PROXY_VALIDATION_CONCURRENCY=16
HEALTHY_PROXY_TARGET=25
HEALTHY_PROXY_MIN=5
MAX_PROXY_FAILURES=2
MAX_PROXY_ATTEMPTS=25
TARGET_AUTHORIZATION=
TARGET_HEADERS=
