PORT=3000
TARGET_URL=https://httpbin.org/ip
PROXYDB_URL=https://proxydb.net/?country=&protocol=http&protocol=https&sort_column_id=uptime&sort_order_desc=true
PROXYDB_PAGES=30
PROXYDB_PAGE_SIZE=30
PROXY_REFRESH_SECONDS=300
PROXY_TIMEOUT_MS=5000
PROXY_ATTEMPT_TIMEOUT_MS=5000
PROXY_VALIDATION_CONCURRENCY=16
HEALTHY_PROXY_TARGET=25
HEALTHY_PROXY_MIN=5
MAX_PROXY_FAILURES=2
MAX_PROXY_ATTEMPTS=5
TARGET_AUTHORIZATION=
TARGET_HEADERS=
