PORT=3000
TARGET_URL=https://httpbin.org/ip
PROXY_SOURCE_URL=https://freeproxydb.com/api/proxy/search?country=&protocol=http,socks5,socks4&anonymity=&speed=0,60&https=0&page_index=1&page_size=100
PROXY_SOURCE_PAGES=20
PROXY_SOURCE_PAGE_SIZE=100
PROXY_SOURCE_MAX_PAGES=100
PROXY_REQUIRE_HTTPS=false
PROXY_SOURCE_ONLY_VALID=false
PROXY_REFRESH_SECONDS=300
PROXY_TIMEOUT_MS=10000
PROXY_ATTEMPT_TIMEOUT_MS=5000
PROXY_STREAM_TIMEOUT_MS=0
TARGET_RESPONSE_TIMEOUT_MS=0
PROXY_CONNECT_TIMEOUT_MS=5000
PROXY_HEADER_TIMEOUT_MS=0
MAX_CONCURRENT_REQUESTS=0
PROXY_VALIDATION_CONCURRENCY=16
HEALTHY_PROXY_TARGET=50
HEALTHY_PROXY_MIN=5
MAX_PROXY_FAILURES=2
DEAD_PROXY_RETRY_SECONDS=120
MAX_PROXY_ATTEMPTS=50
TARGET_AUTHORIZATION=
TARGET_HEADERS=
